html
  link(href='http://fonts.googleapis.com/css?family=Raleway:500', rel='stylesheet', type='text/css')
  link(href='stylesheets/logincss.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  body
    .middlePage
      .panel.panel-info
        .panel-heading
          h1.panel-title Login Social
        .panel-body
          .row
            .col-md-7
              form.form-horizontal(action='/', method='post')
                fieldset
                  input#textinput.form-control.input-md(name='username', type='text', placeholder='Nombre de Usuario')
                  input#textinput.form-control.input-md(name='password', type='text', placeholder='Password')
                  .spacing
                  input.btn.btn-info.btn-sm.pull-right(type='submit', value='Login')
              br
              .col-md-5
                a(href='/')
                  img(src='http://techulus.com/buttons/tw.png')
              br
