html
  link(href='stylesheets/logincss.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  body
    #info
      h1 Selecciona El entorno de B.D
      br
      #bdimages
        a.derecha(href='/mongodb')
          img(src='https://www.qn-solutions.de/images/brandlogos/logo-mongodb.jpg')
        a.izquierda(href='/sqlite')
          img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Sqlite-square-icon.svg/256px-Sqlite-square-icon.svg.png')
