html
    head
        link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/viewcss.css')
    body
        div
            h1 Registrar Usuario
            form(action='/sqlite/registrar', method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='username')
                            | username
                            input#username(type='text', value='', placeholder='Nombre de Usuario', name='username')
                #passworddiv(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='password')
                            | password
                            input#password(type='password', value='', placeholder='', name='password')
                div(data-role='fieldcontain')
                    input(type='submit', value='Registrar', data-transition='fade', data-theme='c')