html
    head
        link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/viewcss.css')
    body
        div
            h1 Registrar Usuario
            form(action='/sqlite/registrar', method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='username')
                            | Username
                            input#username(type='text', value='', placeholder='Nombre de Usuario', name='username')
                #passworddiv(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='password')
                            | Password
                            input#password(type='password', value='', placeholder='', name='password')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='tipousuario')
                            | Tipo de usuario
                            input#tipousuario(type='text', value='', placeholder='Tipo de Usuario', name='tipousuario')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='email')
                            | Email
                            input#email(type='text', value='', placeholder='Email', name='email')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='telefono')
                            | Telefono
                            input#telefono(type='text', value='', placeholder='Telefono', name='telefono')
                div(data-role='fieldcontain')
                    input.btn.btn-default(type='submit', value='Registrar', data-transition='fade', data-theme='c')

