body {
    color: black;
}

h1{
    text-shadow: 0px 1px 1px black;
    color: white;
    font: 80px 'LeagueGothicRegular';
}

table {
  margin: 25px;
}

form {
    margin: 25px;
}

td {
    color: black;
    position: relative;
}

input {
    margin: 5px;
}

.btn {
    margin: 15px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: yellow;
}

.dropdown {
    width: 120px;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 10;
}

.dropdown-content button {
    color: black;
    padding: 10px 14px;
    text-decoration: blink;
    border: 2px solid yellow;
}

.dropdown button:hover {background-color: yellow}


body {
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: 'Raleway', sans-serif;
}